asgiref==3.3.1
beautifulsoup4==4.9.3
Django==3.1.3
django-bootstrap4==2.3.1
django-environ==0.4.5
environ==1.0
gunicorn==20.0.4
importlib-metadata==2.0.0
Pillow==8.0.1
pytz==2020.4
soupsieve==2.0.1
sqlparse==0.4.1
zipp==3.4.0
