{% extends 'base.html' %}


{% block content %}

  <div>
    <div style="text-align: center; max-width: 500px; margin: 4rem auto;">

      {% if target_user.profile %}
      <img src="{{ target_user.profile.image.url }}" alt=""
           style="height: 12rem; width: 12rem; border-radius: 20rem; margin-bottom: 2rem; object-fit: cover;">
      <h2 style="font-family: 'NanumSquareB'">
        {{ target_user.profile.nickname }}
          {% if target_user == user %}
          <a class="material-icons"
             style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem;"
             href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
              edit
          </a>
          {% endif %}
      </h2>
      <h5 style="margin-bottom:3rem;">
        {{ target_user.profile.message }}
      </h5>
      {% else %}
        {% if target_user == user %}
        <a href="{% url 'profileapp:create' %}">
          <h2 style="font-family: 'NanumSquareB'">
            Create Profile
          </h2>
        </a>
        {% else %}
        <h2>
          닉네임 미설정
        </h2>
        {% endif %}
      {% endif %}

      {% if target_user == user %}
        <a class="material-icons"
           style="box-shadow: 0 0 4px #ccc; border-radius: 10rem; padding: .4rem;"
           href="{% url 'accountapp:update' pk=user.pk %}">
            settings
        </a>
        <a class="material-icons"
           style="box-shadow: 0 0 4px #fcc; border-radius: 10rem; padding: .4rem;"
           href="{% url 'accountapp:delete' pk=user.pk %}">
            cancel
        </a>
      {% endif %}

    </div>

    <div>

      {% include 'snippets/list_fragment.html' with article_list=object_list %}

    </div>

  </div>

{% endblock %}