.pragmatic_logo {
    font-family: 'Lobster', cursive;
}

.pragmatic_footer_button {
    font-size: .9rem;
}

.pragmatic_footer {
    text-align:center;
    margin-top: 2rem;
}

.pragmatic_header {
    text-align:center;
    margin: 2rem 0;
}

@media screen and (max-width:500px) {
    html {
        font-size: 13px;
    }
}

a {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
}

.prgmatic_header_nav {
    margin: 0 0.5rem;
}


.pragmatic_header_navbar {
    margin: 1rem 0;
}